@model CoolCaptions.Models.Media
 
@{
     ViewData["Title"] = "Reproducir"; 
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1 data-bind="text: content.Name"></h1>

    <div>
        Modo:
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
    </div>

    @if (Model.Type == "video")
    {
        <div class="video-player">
            <video height="350px" width="500px" controls>
                <source src='@string.Format("/medias/{0}", @Model.FileName)' type="@Model.MimeType" />
            </video>
        </div>
    }
    else
    {
        <div class="audio-player">
            <audio controls>
                <source src='@string.Format("/medias/{0}", @Model.FileName)' type="@Model.MimeType" />
            </audio>
        </div>
    }
</div>